<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935368378139-fk437c2rvo3jatbl9gmm6nc8cgga9f1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935368378139-fk437c2rvo3jatbl9gmm6nc8cgga9f1b</string>
	<key>API_KEY</key>
	<string>AIzaSyADT7E7PFWs9sIGIHJNAYuRjyydVlan24M</string>
	<key>GCM_SENDER_ID</key>
	<string>935368378139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.forsageapp</string>
	<key>PROJECT_ID</key>
	<string>forsageapp-e6cda</string>
	<key>STORAGE_BUCKET</key>
	<string>forsageapp-e6cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935368378139:ios:7c205f236f1c9a3052f5be</string>
</dict>
</plist>